[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #E10098;
    --md-accent-fg-color:        #E10098;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #E10098;
    --md-accent-fg-color:        #FFFFFF;
}
